@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #E5ECF1;
    background-image:  radial-gradient(#484959 0.5px, transparent 0.5px), radial-gradient(#484959 0.5px, #E5ECF1 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: flex;
    min-height: 100vh;
}
.form{
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 3em 3em 2em;
    border-radius: 5px;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    text-align: center;
}
.form_title{
    font-size:3rem;
    margin-bottom: .5em;
}
.form__paragraph{
    font-weight: 300;
}
.form__paragraph :hover{
    color: #FF8138;
}
.form__link{
    font-weight: 400;
    color: #000;
}
.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form__group{
    position: relative;
    --color: #1C1F23;
}
.form__input{
    width: 100%;
    background: none;
    color: #1C1F23;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: "Poppins", sans-serif;
}


.form__input:focus + .form__label ,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #FF8138;
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form__submit{
    background: #1C1F23;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    margin-bottom: -1.5em;
    border: none;
    border-radius: .5em;
}
.form__submit:hover{
    background: #FF8138;
    color: #1C1F23;
}

.qr{
    display: block;
    text-decoration: none;
    background: #1C1F23;
    border-radius: .5em;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 1em;
    margin: 1em 1em;

}
.qr:hover{
    color: #ffffff;
}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FF8138;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}
.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}
@media (max-width:425){
    .form__title{
        font-size: 1.8rem;
    }
}




















